<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.weshare">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcomemodule.WelcomePageOne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".welcomemodule.WelcomePageTwo"/>
        <activity android:name=".welcomemodule.WelcomePageThree"/>
        <activity android:name=".homepagemodule.HomeListDetail"/>
        <activity android:name=".clubmodule.ClubDetailActivity"/>
        <activity android:name=".clubmodule.ForumActivity"/>
        <activity android:name=".homepagemodule.HomeListDetailTwo"/>
        <activity android:name=".mysharemodule.AboutXXActivity">
        </activity>
        <activity android:name=".mysharemodule.SettingsActivity">
        </activity>
        <activity android:name=".settingmodule.MessagePushActivity">
        </activity>
        <activity android:name=".shoppingcartmodule.RegistActivity">
        </activity>
        <activity android:name=".welcomemodule.SelectAdressActivity">
        </activity>
        <activity android:name=".welcomemodule.LocationActivity"/>
        <activity android:name=".shoppingcartmodule.FindPWDActivity">
        </activity>
    </application>

</manifest>